[server]
token =
prefix = rl!
name = Reaction Light
system_channel =
logo = https://cdn.discordapp.com/attachments/671738683623473163/693451064904515645/spell_holy_weaponmastery.jpg
colour = 0xffff00
